@use "../abstracts";

html {
  font-size: 62.5%;
}

body {
  background: abstracts.$bg-grey;
  font-size: 1.6rem;
  justify-content: center;
  height: 100%;
  font-family: Helvetica, sans-serif;
  line-height: 1.4;
  font-weight: 400;
  color: abstracts.$copy-black;
}

img {
  max-width: 100%;
}

/* Links a:hover */

a {
  &,
  &:link {
    text-decoration: none;
    cursor: pointer;
  }

  &:hover,
  &:active {
    /* Styles here */
    color: red;
  }
}

.cs-configurator {
  @include abstracts.toRem(max-width, 1400);
  height: 100%;
  background: #fff;
  border-radius: abstracts.$border-radius;
  margin-top: 10rem;
  margin-bottom: 10rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #d6d6d6;

  &__header {
    @media screen and (min-width: 36.5rem) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    text-align: center;
    border-bottom: 1px solid abstracts.$border-color;
  }
}

.info-card {
  &__title {
    a:link {
      color: abstracts.$copy-black;
      font-size: 1.8rem;
      font-weight: bold;
      transition: 0.3s;
    }

    a:hover {
      opacity: 0.8;
    }
  }

  &__subtitle {
    color: abstracts.$light-grey;
  }
}

a.readmore {
  color: abstracts.$light-grey;
  font-size: 1rem;
  transition: 0.3s;

  &:hover {
    opacity: 0.8;
  }
}
