.padding-section {
  padding: 3rem;
}

.customInput {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid #b4b4b4;
  background-color: #fff;
  background-position: center;
  background-size: 0 auto;
  background-repeat: no-repeat;
  margin: 0;
}
