/* Color Variables */

$bg-grey: #f1f1f1;
$light-grey: #757575;
$dark-grey: #4d4d4d;
$copy-black: #333333;
$light-green: #e3faf4;
$iub-green: #00ca8d;
$mint: #e3faf4;
$light-peach: #fff4e4;
$dark-peach: #dc6936;
$light-red: #df6e5e;

$border-color: #d6d6d6;

$border-radius: 6px;
$legend-margin: 1.5rem;
